In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../Coding")
import Constants as con

In [2]:
df = pd.read_csv(f"{con.pathData}/ResultedVesselOnBerth.csv")

In [6]:
import pandas as pd

# Assuming df is your dataframe containing vehicle_id, city, start_time, end_time, duration, and length columns

# Step 1: Sort the dataframe by vehicle_id and start_time
df_sorted = df.sort_values(by=['IMO', 'start_time'])

# Step 2: Calculate the time difference between consecutive rows
df_sorted['time_diff'] = df_sorted.groupby('IMO')['start_time'].diff()

# Step 3: Identify the start of each trip based on the time difference
df_sorted['trip_start'] = (df_sorted['time_diff'] > pd.Timedelta(days=7)) | df_sorted['time_diff'].isnull()

# Step 4: Create a trip ID for each group of consecutive rows
df_sorted['trip_id'] = df_sorted.groupby('IMO')['trip_start'].cumsum()

# Step 5: Create a trip sequence number within each trip
df_sorted['trip_sequence'] = df_sorted.groupby(['IMO', 'trip_id']).cumcount() + 1

# Step 6: Drop unnecessary columns
df_sorted.drop(columns=['time_diff', 'trip_start'], inplace=True)

# Step 7: Pivot the dataframe to create separate columns for each trip
df_pivot = df_sorted.pivot_table(index=['IMO', 'trip_id'], columns='trip_sequence', 
                                 values=['nearestPort', 'start_time'], aggfunc='first')

# Step 8: Flatten the multi-level column index
df_pivot.columns = ['_'.join(map(str, col)) for col in df_pivot.columns]

# Step 9: Merge the start times of consecutive trips
df_pivot['end_time_1'] = df_pivot['start_time_2'].shift(-1)

# Step 10: Calculate the time difference between consecutive cities
for i in range(2, len(df_pivot.columns) // 2 + 1):
    if f'start_time_{i}' in df_pivot.columns and f'end_time_{i-1}' in df_pivot.columns:
        df_pivot[f'time_diff_{i-1}_{i}'] = (df_pivot[f'start_time_{i}'] - df_pivot[f'end_time_{i-1}']).dt.total_seconds() / 3600

# Step 11: Print the resulting dataframe
#print(df_pivot)

                   nearestPort_1 nearestPort_2 nearestPort_3 nearestPort_4  \
IMO        trip_id
IMO7617905 1              LA_APM           NaN           NaN           NaN
           2         LA_WBCT_ECT           NaN           NaN           NaN
           3         LA_WBCT_ECT           NaN           NaN           NaN
           4         LA_WBCT_ECT           NaN           NaN           NaN
           5         LA_WBCT_ECT           NaN           NaN           NaN
...                          ...           ...           ...           ...
IMO9946245 2        Philadelphia           NaN           NaN           NaN
           3             Savanna  Philadelphia           NaN           NaN
IMO9951135 1           LA_TRAPAC           NaN           NaN           NaN
IMO9951147 1           LA_TRAPAC           NaN           NaN           NaN
           2           LA_TRAPAC           NaN           NaN           NaN

                   nearestPort_5 nearestPort_6 nearestPort_7 nearestPort_8  \
IMO        trip_id
IMO7617905 1                 NaN           NaN           NaN           NaN
           2                 NaN           NaN           NaN           NaN
           3                 NaN           NaN           NaN           NaN
           4                 NaN           NaN           NaN           NaN
           5                 NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
IMO9946245 2                 NaN           NaN           NaN           NaN
           3                 NaN           NaN           NaN           NaN
IMO9951135 1                 NaN           NaN           NaN           NaN
IMO9951147 1                 NaN           NaN           NaN           NaN
           2                 NaN           NaN           NaN           NaN

                          start_time_1        start_time_2 start_time_3  \
IMO        trip_id
IMO7617905 1       2015-07-06 13:43:30                 NaT          NaT
           2       2015-08-03 14:04:08                 NaT          NaT
           3       2015-11-27 15:01:26                 NaT          NaT
           4       2015-12-11 00:06:23                 NaT          NaT
           5       2016-01-08 16:55:15                 NaT          NaT
...                                ...                 ...          ...
IMO9946245 2       2023-06-28 19:24:33                 NaT          NaT
           3       2023-09-18 22:04:40 2023-09-21 03:22:56          NaT
IMO9951135 1       2023-05-08 22:04:34                 NaT          NaT
IMO9951147 1       2023-04-17 11:03:36                 NaT          NaT
           2       2023-07-06 14:01:51                 NaT          NaT

                   start_time_4 start_time_5 start_time_6 start_time_7  \
IMO        trip_id
IMO7617905 1                NaT          NaT          NaT          NaT
           2                NaT          NaT          NaT          NaT
           3                NaT          NaT          NaT          NaT
           4                NaT          NaT          NaT          NaT
           5                NaT          NaT          NaT          NaT
...                         ...          ...          ...          ...
IMO9946245 2                NaT          NaT          NaT          NaT
           3                NaT          NaT          NaT          NaT
IMO9951135 1                NaT          NaT          NaT          NaT
IMO9951147 1                NaT          NaT          NaT          NaT
           2                NaT          NaT          NaT          NaT

                   start_time_8          end_time_1  time_diff_1_2
IMO        trip_id
IMO7617905 1                NaT                 NaT            NaN
           2                NaT                 NaT            NaN
           3                NaT                 NaT            NaN
           4                NaT                 NaT            NaN
           5                NaT                 NaT            NaN
...                         ...                 ...            ...
IMO9946245 2                NaT 2023-09-21 03:22:56            NaN
           3                NaT                 NaT            NaN
IMO9951135 1                NaT                 NaT            NaN
IMO9951147 1                NaT                 NaT            NaN
           2                NaT                 NaT            NaN

[32298 rows x 18 columns]

In [7]:
df_pivot.to_csv(f"{con.pathData}/Routes2.csv")