In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../Coding")
import Constants as con

In [2]:
df = pd.read_csv(f"{con.pathData}/ResultedVesselOnBerth.csv")

In [3]:
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])

# Step 1: Sort the dataframe by vehicle_id and start_time
df_sorted = df.sort_values(by=['IMO', 'start_time'])
# Step 2: Calculate the time difference between consecutive rows within each IMO group
df_sorted['time_diff'] = df_sorted['start_time'] - df_sorted.groupby('IMO')['end_time'].shift(1)

# Step 3: Identify the start of each trip based on the time difference
df_sorted['trip_start'] = (df_sorted['time_diff'] > pd.Timedelta(days=7)) | (df_sorted['time_diff'] < pd.Timedelta(days=0)) | df_sorted['time_diff'].isnull()

# Step 4: Create a trip ID for each group of consecutive rows
df_sorted['trip_id'] = df_sorted.groupby('IMO')['trip_start'].cumsum()

# Step 5: Create a trip sequence number within each trip
df_sorted['trip_sequence'] = df_sorted.groupby(['IMO', 'trip_id']).cumcount() + 1

# Step 6: Pivot the dataframe to create separate columns for each trip
df_pivot = df_sorted.pivot_table(index=['IMO', 'trip_id'], columns='trip_sequence', 
                                 values=['nearestPort', 'start_time', 'end_time'], aggfunc='first')

# Step 7: Flatten the multi-level column index
df_pivot.columns = ['_'.join(map(str, col)) for col in df_pivot.columns]

# Step 8: Calculate the time difference between consecutive cities
for i in range(2, len(df_pivot.columns) // 3 + 1):
    if f'start_time_{i}' in df_pivot.columns and f'end_time_{i-1}' in df_pivot.columns:
        df_pivot[f'time_diff_{i-1}_{i}'] = (df_pivot[f'start_time_{i}'] - df_pivot[f'end_time_{i-1}']).dt.total_seconds() / 3600

# Step 9: Drop unnecessary columns
#df_pivot.drop(columns=[f'city_{i}' for i in range(2, len(df_pivot.columns) // 3 + 1)], inplace=True)
#df_pivot.drop(columns=[f'start_time_{i}' for i in range(2, len(df_pivot.columns) // 3 + 1)], inplace=True)
#df_pivot.drop(columns=[f'end_time_{i}' for i in range(1, len(df_pivot.columns) // 3 + 1)], inplace=True)

In [4]:
df_pivot.to_csv(f"{con.pathData}/Routes2.csv")
df_sorted.to_csv(f"{con.pathData}/RoutesSorted2.csv")

In [7]:
df_pivot

                            end_time_1          end_time_2 end_time_3  \
IMO        trip_id
IMO7617905 1       2015-07-22 12:24:47                 NaT        NaT
           2       2015-08-05 19:53:17                 NaT        NaT
           3       2015-11-28 16:19:07                 NaT        NaT
           4       2015-12-25 03:17:19                 NaT        NaT
           5       2016-01-23 13:32:43                 NaT        NaT
...                                ...                 ...        ...
IMO9946245 2       2023-06-29 07:03:44 2023-09-19 06:46:37        NaT
           3       2023-09-21 15:10:13                 NaT        NaT
IMO9951135 1       2023-05-10 10:15:32                 NaT        NaT
IMO9951147 1       2023-04-19 01:13:48                 NaT        NaT
           2       2023-07-07 01:32:19                 NaT        NaT

                   end_time_4 end_time_5 end_time_6 end_time_7 end_time_8  \
IMO        trip_id
IMO7617905 1              NaT        NaT        NaT        NaT        NaT
           2              NaT        NaT        NaT        NaT        NaT
           3              NaT        NaT        NaT        NaT        NaT
           4              NaT        NaT        NaT        NaT        NaT
           5              NaT        NaT        NaT        NaT        NaT
...                       ...        ...        ...        ...        ...
IMO9946245 2              NaT        NaT        NaT        NaT        NaT
           3              NaT        NaT        NaT        NaT        NaT
IMO9951135 1              NaT        NaT        NaT        NaT        NaT
IMO9951147 1              NaT        NaT        NaT        NaT        NaT
           2              NaT        NaT        NaT        NaT        NaT

                   nearestPort_1 nearestPort_2  ... start_time_6 start_time_7  \
IMO        trip_id                              ...
IMO7617905 1              LA_APM           NaN  ...          NaT          NaT
           2         LA_WBCT_ECT           NaN  ...          NaT          NaT
           3         LA_WBCT_ECT           NaN  ...          NaT          NaT
           4         LA_WBCT_ECT           NaN  ...          NaT          NaT
           5         LA_WBCT_ECT           NaN  ...          NaT          NaT
...                          ...           ...  ...          ...          ...
IMO9946245 2        Philadelphia       Savanna  ...          NaT          NaT
           3        Philadelphia           NaN  ...          NaT          NaT
IMO9951135 1           LA_TRAPAC           NaN  ...          NaT          NaT
IMO9951147 1           LA_TRAPAC           NaN  ...          NaT          NaT
           2           LA_TRAPAC           NaN  ...          NaT          NaT

                   start_time_8 time_diff_1_2 time_diff_2_3 time_diff_3_4  \
IMO        trip_id
IMO7617905 1                NaT           NaN           NaN           NaN
           2                NaT           NaN           NaN           NaN
           3                NaT           NaN           NaN           NaN
           4                NaT           NaN           NaN           NaN
           5                NaT           NaN           NaN           NaN
...                         ...           ...           ...           ...
IMO9946245 2                NaT   1959.015556           NaN           NaN
           3                NaT           NaN           NaN           NaN
IMO9951135 1                NaT           NaN           NaN           NaN
IMO9951147 1                NaT           NaN           NaN           NaN
           2                NaT           NaN           NaN           NaN

                   time_diff_4_5 time_diff_5_6 time_diff_6_7 time_diff_7_8
IMO        trip_id
IMO7617905 1                 NaN           NaN           NaN           NaN
           2                 NaN           NaN           NaN           NaN
           3                 NaN           NaN           NaN           NaN
           4                 NaN           NaN           NaN           NaN
           5                 NaN           NaN           NaN           NaN
...                          ...           ...           ...           ...
IMO9946245 2                 NaN           NaN           NaN           NaN
           3                 NaN           NaN           NaN           NaN
IMO9951135 1                 NaN           NaN           NaN           NaN
IMO9951147 1                 NaN           NaN           NaN           NaN
           2                 NaN           NaN           NaN           NaN

[35115 rows x 31 columns]

In [13]:
df_tar = pd.read_csv(f'{con.pathOutput}/prediction_gr_5.csv')
df_pred = pd.read_csv(f'{con.pathOutput}/target_gr_5.csv')

In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

def calculate_mape_for_sets(df_true, df_pred):
    assert df_true.shape == df_pred.shape, "Input DataFrames must have the same shape"
    epsilon = 0.01
    df_true_nonzero = df_true.replace(0, epsilon)

    # Calculate MAPE for each column
    #mape_per_column = ((df_true_nonzero - df_pred).abs() / df_true_nonzero).mean() * 100
    mape_per_column = ((df_true + epsilon - df_pred).abs() / (df_true + epsilon)).mean() * 100

    #mape_per_set = ((df_true - df_pred).abs() / df_true).mean() * 100
    return mape_per_column

def mean_absolute_percentage_error(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    
    # Ensure both arrays have the same shape
    if y_true.shape != y_pred.shape:
        # Reshape y_pred to match the shape of y_true
        y_pred = y_pred.reshape(y_true.shape)

    # Avoid division by zero
    mask = y_true != 0
    y_true, y_pred = y_true[mask], y_pred[mask]    
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100 

def calculate_smape(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    
    # Ensure that both inputs are numpy arrays of the same shape
    if y_true.shape != y_pred.shape:
        y_pred = y_pred.reshape(y_true.shape)

    # Calculate the absolute difference and the average of absolute values
    numerator = np.abs(y_true - y_pred)
    denominator = (np.abs(y_true) + np.abs(y_pred)) / 2

    # Avoid division by zero by replacing zeros in the denominator with a small value
    denominator[denominator == 0] = 1e-10  # Small constant to prevent division by zero

    # Calculate SMAPE for each element and then average over all elements
    smape = np.mean(numerator / denominator) * 100

    return smape

def saveError_n(fileName, terminal, model, description, actual, prediction, roundQty = 0):
    output = prediction.copy()
    y_true = np.nan_to_num(actual, nan=0.0)#actual.fillna(0)  # Fill NaNs with zero
    y_pred = np.nan_to_num(prediction, nan=0.0)#prediction.fillna(0) #y_pred.mean()  
    if roundQty == 1:
        output = output.round()
    err = {
        "roundQty" : [roundQty],
        "terminal": [f"{terminal}"],
        "model": [f"{model}"],
        "description": [f"{description}"],
        "mse": [mean_squared_error(y_true, y_pred)],
        "mae": [mean_absolute_error(y_true, y_pred)], 
        "RSquared": [r2_score(y_true, y_pred)],
        "mape": [mean_absolute_percentage_error(y_true, y_pred)], 
        "smape":[calculate_smape(y_true, y_pred)] 
    }

    pd.DataFrame(err).to_csv(f"{pathLogs}/{fileName}{roundQty}.csv")

def saveResults_n(fileName, actual, prediction):
    actual.to_csv(f'{pathOutput}/{fileName}_actual.csv', index=True)
    prediction.to_csv(f'{pathOutput}/{fileName}_prediction.csv', index=True)

###
def saveError_bt(fileName, model, description, actual, prediction, roundQty = 0):
    output = prediction.copy()
    #y_true = np.nan_to_num(actual, nan=0.0)
    y_true = actual.fillna(0)  # Fill NaNs with zero
    y_pred = np.nan_to_num(prediction, nan=0.0)#prediction.fillna(0) #y_pred.mean()  
    if roundQty == 1:
        output = output.round()
    error_df = pd.DataFrame()
    for col_idx in range(y_true.shape[1]):
        # Get the column name from y_test
        column_name = y_true.columns[col_idx] 
        y_true_col = y_true[column_name]
        y_pred_col = y_pred[:, col_idx]#y_pred.iloc[:, col_idx]
        err = {
            "roundQty" : roundQty,
            "terminal": f"{column_name}",
            "model": f"{model}",
            "description": f"{description}",
            "mse": mean_squared_error(y_true_col, y_pred_col),
            "mae": mean_absolute_error(y_true_col, y_pred_col), 
            "RSquared": r2_score(y_true_col, y_pred_col),
            "mape": mean_absolute_percentage_error(y_true_col, y_pred_col), 
            "smape":calculate_smape(y_true_col, y_pred_col) 
        }    
        error_df = error_df.append(err, ignore_index=True)  # Append the row to the DataFrame
    error_df.to_csv(f"{pathLogs}/{fileName}_error_br.csv")

In [14]:
from sklearn.metrics import r2_score
pathLogs = f"/home/gridsan/naristov/Modelling/Logs"
saveError_bt(f'STGNN', f'STGNN', f'several terminals', t_df(df_tar), t_df(df_pred), 0)

In [11]:
def t_df(df):
    df_t = df.T
    df_t.columns = df_t.iloc[0]  # Set the first row as column names

    # Step 2: Drop the first row
    df_t = df_t[1:]  # Keep all rows except the first one

    # Optional: Reset the index (if needed)
    df_t.reset_index(drop=True, inplace=True) 
    return df_t#.drop('Node',axis = 1)
t_df(df_tar)

Node,NY_Main,NY_Redhook,NY_LibertyBayonne,NY_LibertyNewYork,NY_Newark,NY_Maher,NY_APM,NY_WaitingArea,Boston_Main,Boston_Terminal,Boston_WaitingArea,Savanna_Main,Savanna_Terminal,Savanna_WaitingArea,Norfolk_Main,Norfolk_Terminal,Norfolk_WaitingArea,Baltimore_Main,Baltimore_Terminal,Baltimore_WaitingArea
0,3.445339,1.969851,2.618575,2.42467,2.293112,3.97137,2.806305,1.105891,1.37912,1.139584,1.041916,9.001441,1.217156,1.172351,2.578345,3.536646,10.597362,2.657808,3.411997,2.104856
1,3.469491,2.268634,2.865174,2.717899,2.520562,4.269483,2.99845,1.233583,1.488369,1.365787,1.167137,8.573973,1.248706,1.288317,2.679909,3.626118,9.786109,2.764374,3.507175,2.183356
2,3.31437,2.140712,2.716368,2.568616,2.309106,4.014861,2.748681,1.076072,1.312248,1.173701,1.012606,8.680462,1.117796,1.138211,2.482649,3.465454,10.024864,2.566298,3.357656,2.029864
3,3.660389,2.571865,3.159159,3.022193,2.612014,4.415468,3.1193,1.464308,1.706212,1.591805,1.396401,8.400251,1.518203,1.524241,2.8844,3.758138,9.905099,2.963644,3.645837,2.44135
4,3.470266,2.322603,2.967057,2.812394,2.369015,4.194376,2.933818,1.318921,1.551287,1.469454,1.257379,8.546658,1.320891,1.377102,2.744483,3.739187,9.668852,2.827963,3.62604,2.274086
5,3.602579,2.555052,3.139749,2.996463,2.636196,4.389417,3.104077,1.43574,1.676049,1.594122,1.359466,8.283447,1.436274,1.488672,2.854842,3.665162,9.972364,2.928309,3.556977,2.421581
6,3.724432,2.501672,3.10949,2.946541,2.654722,4.375315,3.168963,1.487279,1.766571,1.625401,1.446298,8.816769,1.589851,1.565251,2.939197,3.918233,10.246428,3.023268,3.800609,2.481441
7,3.549547,2.20421,2.814356,2.645821,2.40707,3.958053,2.920659,1.43415,1.676416,1.497339,1.372562,8.637367,1.457996,1.506287,2.815102,3.795309,10.036831,2.891154,3.686374,2.392105
8,3.595974,2.393095,2.983112,2.828888,2.525167,4.274824,2.962846,1.300237,1.556262,1.419266,1.260322,8.38487,1.395509,1.356516,2.642536,3.661129,9.476935,2.716495,3.549471,2.185252
9,3.568942,2.311883,2.952811,2.802633,2.459304,4.292821,2.952617,1.217612,1.446736,1.338505,1.14793,8.899204,1.242898,1.269194,2.670644,3.558789,10.48373,2.756565,3.435892,2.204813
10,3.488141,2.260554,2.93315,2.763597,2.361604,4.170383,2.944014,1.236784,1.490846,1.328263,1.176158,8.466095,1.326459,1.295728,2.710932,3.636983,9.598731,2.793471,3.52207,2.221096
11,3.557157,2.245841,2.909796,2.732423,2.422796,4.220536,2.908637,1.231283,1.483518,1.338396,1.180012,8.722478,1.316093,1.291235,2.634586,3.648319,9.92618,2.715253,3.526539,2.157507
12,3.319922,2.345927,2.895392,2.753496,2.499009,4.297422,2.873229,1.185556,1.416749,1.377352,1.14371,8.567978,1.257492,1.230644,2.423918,3.232573,9.832039,2.494249,3.117545,1.993675
13,3.245655,2.178117,2.781135,2.627011,2.501261,4.266552,2.916915,1.221441,1.455958,1.319491,1.153643,8.583191,1.2925,1.284756,2.622158,3.484754,10.265118,2.698611,3.376934,2.206867
14,3.792835,2.372741,3.026387,2.844616,2.571414,4.164374,3.104642,1.453603,1.741485,1.499671,1.379475,8.593226,1.533759,1.526009,2.952641,4.025564,10.454534,3.038112,3.907499,2.493511
15,3.363118,2.201406,2.801754,2.657376,2.455208,4.474957,2.927273,1.107961,1.360409,1.204604,1.054206,8.689239,1.173376,1.165241,2.565039,3.619391,10.173223,2.65358,3.488545,2.046325
16,3.512105,2.300467,2.932731,2.78039,2.443344,4.228515,2.97066,1.226304,1.507129,1.330913,1.185392,8.587075,1.356872,1.301779,2.721595,3.699631,9.956334,2.80176,3.585439,2.242836
17,3.407951,2.358527,2.928285,2.792462,2.493462,4.268065,2.951583,1.335763,1.548978,1.492861,1.266742,8.137326,1.339696,1.390908,2.666108,3.551211,10.088723,2.74295,3.436621,2.230756
18,3.442605,2.406735,2.989583,2.842319,2.518522,4.001413,2.995144,1.50233,1.726855,1.624006,1.423356,8.777354,1.503513,1.563314,2.8086,3.552083,10.139275,2.871597,3.456767,2.450797
19,3.421263,2.278664,2.919022,2.751488,2.467,4.365966,2.944192,1.199584,1.462062,1.337546,1.142588,8.648441,1.290566,1.262587,2.632021,3.488812,9.857833,2.709152,3.373524,2.160635
20,3.60376,2.209611,2.80772,2.634601,2.437134,4.139786,2.928487,1.279164,1.56988,1.394076,1.229104,8.322181,1.374261,1.344018,2.761774,3.824278,10.076394,2.841173,3.705469,2.257415
21,3.409471,2.160503,2.780617,2.609588,2.340448,4.192142,2.820982,1.208157,1.454207,1.311316,1.15773,8.738706,1.275655,1.275133,2.616411,3.603807,9.917525,2.696959,3.493912,2.175726
22,3.540835,2.263455,2.907219,2.743958,2.421519,4.195725,2.982948,1.258173,1.551284,1.329191,1.192425,8.548163,1.3307,1.331693,2.800671,3.786266,9.247644,2.876423,3.678812,2.338421
23,3.864573,2.551824,3.168046,3.002294,2.669019,4.430853,3.176442,1.597399,1.871808,1.678084,1.55377,8.098723,1.681898,1.65801,2.904886,3.901835,9.993591,2.978526,3.797349,2.43969
24,3.696333,2.436637,3.034397,2.886562,2.590882,4.250074,3.079963,1.455525,1.696019,1.546183,1.378905,9.057817,1.47442,1.520272,2.898779,3.835776,10.488955,2.978245,3.726117,2.446398
25,3.353879,2.40191,2.933511,2.801669,2.53727,4.247258,2.918929,1.345072,1.544514,1.508516,1.261861,8.089671,1.323988,1.395101,2.688269,3.510877,9.530588,2.758541,3.40365,2.304167
26,3.385907,2.156014,2.758542,2.607653,2.268164,4.179065,2.741778,1.072691,1.338428,1.188622,1.015599,8.301217,1.170967,1.138032,2.532468,3.407171,9.59933,2.616685,3.287494,2.050258
27,3.419838,2.434684,3.000325,2.873228,2.586787,4.463388,2.98057,1.2637,1.484346,1.42291,1.200788,8.675278,1.302332,1.312284,2.635721,3.674742,9.736955,2.720763,3.545792,2.174356
28,3.397012,2.245237,2.89669,2.728634,2.529701,4.458967,3.021087,1.162945,1.430674,1.30679,1.116582,8.772058,1.23999,1.225606,2.633479,3.52248,9.937027,2.719476,3.39157,2.127662
29,3.466665,2.087554,2.708594,2.541913,2.325989,3.962545,2.860367,1.223289,1.483476,1.278046,1.15641,8.122287,1.314423,1.289047,2.698857,3.782435,9.381265,2.77666,3.668693,2.23481

In [2]:
userName = 'naristov'
pathOutput = f"/home/gridsan/{userName}/Modelling/Output"
#inp = pd.read_csv(f'{pathOutput}/INPUT_small.csv')

In [12]:
pd.DataFrame(inp.columns, columns=["Original Index"]).to_csv(f'{pathOutput}/INPUT_cols.csv')

In [4]:
importance = pd.read_csv(f'{pathOutput}/RF_importance.csv')

In [5]:
importance[importance['Importance'] > 0.1]

                Feature  Importance Output_Target
8720       Feature_8720    0.471103      Target_0
8721       Feature_8721    0.491297      Target_0
205880     Feature_8720    0.471103      Target_1
205881     Feature_8721    0.491297      Target_1
600203     Feature_8723    0.270860      Target_3
600204     Feature_8724    0.273357      Target_3
757043   Feature_165563    0.223045      Target_3
757044   Feature_165564    0.231907      Target_3
797363     Feature_8723    0.270860      Target_4
797364     Feature_8724    0.273357      Target_4
954203   Feature_165563    0.223045      Target_4
954204   Feature_165564    0.231907      Target_4
1095605  Feature_109805    0.153045      Target_5
1158245  Feature_172445    0.758930      Target_5
1191686    Feature_8726    0.973090      Target_6
1388847    Feature_8727    0.899596      Target_7
1545687  Feature_165567    0.100404      Target_7
1586008    Feature_8728    0.696063      Target_8
1742848  Feature_165568    0.303592      Target_8
1783169    Feature_8729    0.973278      Target_9
1980329    Feature_8729    0.112286     Target_10
1980330    Feature_8730    0.520841     Target_10
2177491    Feature_8731    0.977858     Target_11
2374652    Feature_8732    0.598938     Target_12
2531492  Feature_165572    0.399757     Target_12
2591013   Feature_27933    0.320162     Target_13
2768974    Feature_8734    0.795821     Target_14
2966135    Feature_8735    0.970845     Target_15
3163294    Feature_8734    0.317148     Target_16
3360457    Feature_8737    0.477792     Target_17
3360458    Feature_8738    0.472457     Target_17
3557617    Feature_8737    0.477792     Target_18
3557618    Feature_8738    0.472457     Target_18