In [1]:
import pandas as pd
import Constants as con
import os

In [53]:
ig_folder = f"/home/gridsan/{con.userName}/flow_shared/data/importGenius/Import_"

port_lists = ['Baltimore', 'Charleston', 'NY', 'Phily','Savannah', 'smallPorts','Boston', 'Chester', 'Norfolk','Portland','Wilmington']

#k = port_lists[0]

for k in port_lists:
    make_file(k)

processing file Baltimore202201.csv.zip
processing file Baltimore201702.csv.zip
processing file Baltimore201804.csv.zip
processing file Baltimore202002.csv.zip
processing file Baltimore201501.csv.zip
processing file Baltimore201502.csv.zip
processing file Baltimore202103.csv.zip
processing file Baltimore202001.csv.zip
processing file Baltimore201903.csv.zip
processing file Baltimore201601.csv.zip
processing file Baltimore202202.csv.zip
processing file Baltimore201703.csv.zip
processing file Baltimore202101.csv.zip
processing file Baltimore202003.csv.zip
processing file Baltimore201801.csv.zip
processing file Baltimore201901.csv.zip
processing file Baltimore202004.csv.zip
processing file Baltimore201503.csv.zip
processing file Baltimore202203.csv.zip
processing file Baltimore202301.csv.zip
processing file Baltimore201602.csv.zip
processing file Baltimore201803.csv.zip
processing file Baltimore201603.csv.zip
processing file Baltimore202104.csv.zip
processing file Baltimore202303.csv.zip
processing file Baltimore201802.csv.zip
processing file Baltimore202302.csv.zip
processing file Baltimore202102.csv.zip
processing file Baltimore201701.csv.zip
processing file Baltimore201902.csv.zip
processing file Baltimore202204.csv.zip
processing file Baltimore201904.csv.zip
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28037 entries, 0 to 28036
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               28037 non-null  int64
 1   Month              28037 non-null  int64
 2   VESSEL NAME        28037 non-null  object
 3   VOYAGE NUMBER      28037 non-null  object
 4   FOREIGN PORT       28037 non-null  object
 5   US PORT            28037 non-null  object
 6   NO. OF CONTAINERS  28037 non-null  int64
 7   MIN ARRIVAL DATE   28037 non-null  datetime64[ns]
 8   MAX ARRIVAL DATE   28037 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 1.9+ MB
processing file Charleston201908.csv.zip
processing file Charleston201706.csv.zip
processing file Charleston201703.csv.zip
processing file Charleston201802.csv.zip
processing file Charleston201909.csv.zip
processing file Charleston202108.csv.zip
processing file Charleston201611.csv.zip
processing file Charleston202210.csv.zip
processing file Charleston201810.csv.zip
processing file Charleston201509.csv.zip
processing file Charleston202304.csv.zip
processing file Charleston201711.csv.zip
processing file Charleston202302.csv.zip
processing file Charleston202002.csv.zip
processing file Charleston202110.csv.zip
processing file Charleston201707.csv.zip
processing file Charleston202212.csv.zip
processing file Charleston201604.csv.zip
processing file Charleston201609.csv.zip
processing file Charleston201705.csv.zip
processing file Charleston201502.csv.zip
processing file Charleston201907.csv.zip
processing file Charleston201602.csv.zip
processing file Charleston202105.csv.zip
processing file Charleston202305.csv.zip
processing file Charleston202202.csv.zip
processing file Charleston202109.csv.zip
processing file Charleston202301.csv.zip
processing file Charleston201809.csv.zip
processing file Charleston202201.csv.zip
processing file Charleston201902.csv.zip
processing file Charleston201904.csv.zip
processing file Charleston201511.csv.zip
processing file Charleston201804.csv.zip
processing file Charleston201704.csv.zip
processing file Charleston201606.csv.zip
processing file Charleston201910.csv.zip
processing file Charleston201510.csv.zip
processing file Charleston201701.csv.zip
processing file Charleston202104.csv.zip
processing file Charleston202306.csv.zip
processing file Charleston202005.csv.zip
processing file Charleston201506.csv.zip
processing file Charleston202203.csv.zip
processing file Charleston202207.csv.zip
processing file Charleston202208.csv.zip
processing file Charleston202004.csv.zip
processing file Charleston202101.csv.zip
processing file Charleston202204.csv.zip
processing file Charleston201610.csv.zip
processing file Charleston201912.csv.zip
processing file Charleston202010.csv.zip
processing file Charleston201702.csv.zip
processing file Charleston202103.csv.zip
processing file Charleston202307.csv.zip
processing file Charleston202102.csv.zip
processing file Charleston202011.csv.zip
processing file Charleston201905.csv.zip
processing file Charleston201603.csv.zip
processing file Charleston201805.csv.zip
processing file Charleston202006.csv.zip
processing file Charleston201712.csv.zip
processing file Charleston201605.csv.zip
processing file Charleston201710.csv.zip
processing file Charleston202303.csv.zip
processing file Charleston202003.csv.zip
processing file Charleston201709.csv.zip
processing file Charleston201607.csv.zip
processing file Charleston201807.csv.zip
processing file Charleston201601.csv.zip
processing file Charleston202008.csv.zip
processing file Charleston202209.csv.zip
processing file Charleston201503.csv.zip
processing file Charleston201512.csv.zip
processing file Charleston202205.csv.zip
processing file Charleston202012.csv.zip
processing file Charleston201803.csv.zip
processing file Charleston202007.csv.zip
processing file Charleston202107.csv.zip
processing file Charleston201507.csv.zip
processing file Charleston201708.csv.zip
processing file Charleston201501.csv.zip
processing file Charleston201801.csv.zip
processing file Charleston201812.csv.zip
processing file Charleston201911.csv.zip
processing file Charleston201505.csv.zip
processing file Charleston202211.csv.zip
processing file Charleston202009.csv.zip
processing file Charleston201808.csv.zip
processing file Charleston201608.csv.zip
processing file Charleston202309.csv.zip
processing file Charleston201901.csv.zip
processing file Charleston202206.csv.zip
processing file Charleston201508.csv.zip
processing file Charleston201903.csv.zip
processing file Charleston202001.csv.zip
processing file Charleston201504.csv.zip
processing file Charleston202112.csv.zip
processing file Charleston201906.csv.zip
processing file Charleston202106.csv.zip
processing file Charleston201811.csv.zip
processing file Charleston202111.csv.zip
processing file Charleston201612.csv.zip
processing file Charleston202308.csv.zip
processing file Charleston201806.csv.zip
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92693 entries, 0 to 92692
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               92693 non-null  int64
 1   Month              92693 non-null  int64
 2   VESSEL NAME        92693 non-null  object
 3   VOYAGE NUMBER      92693 non-null  object
 4   FOREIGN PORT       92693 non-null  object
 5   US PORT            92693 non-null  object
 6   NO. OF CONTAINERS  92693 non-null  int64
 7   MIN ARRIVAL DATE   92693 non-null  datetime64[ns]
 8   MAX ARRIVAL DATE   92693 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 6.4+ MB
processing file NY20210103.csv.zip
processing file NY20201103.csv.zip
processing file NY20210902.csv.zip
processing file NY20180401.csv.zip
processing file NY20181203.csv.zip
processing file NY20180902.csv.zip
processing file NY20161001.csv.zip
processing file NY20150402.csv.zip
processing file NY20160501.csv.zip
processing file NY20220402.csv.zip
processing file NY20150902.csv.zip
processing file NY20230502.csv.zip
processing file NY20200502.csv.zip
processing file NY20190701.csv.zip
processing file NY20170101.csv.zip
processing file NY20220602.csv.zip
processing file NY20150203.csv.zip
processing file NY20220904.csv.zip
processing file NY20230703.csv.zip
processing file NY20230501.csv.zip
processing file NY20220204.csv.zip
processing file NY20200902.csv.zip
processing file NY20220903.csv.zip
processing file NY20170804.csv.zip
processing file NY20230203.csv.zip
processing file NY20150103.csv.zip
processing file NY20221202.csv.zip
processing file NY20150403.csv.zip
processing file NY20220701.csv.zip
processing file NY20190301.csv.zip
processing file NY20220502.csv.zip
processing file NY20170903.csv.zip
processing file NY20200901.csv.zip
processing file NY20200701.csv.zip
processing file NY20181202.csv.zip
processing file NY20230301.csv.zip
processing file NY20151201.csv.zip
processing file NY20211001.csv.zip
processing file NY20201001.csv.zip
processing file NY20220404.csv.zip
processing file NY20161101.csv.zip
processing file NY20151102.csv.zip
processing file NY20160103.csv.zip
processing file NY20170203.csv.zip
processing file NY20220902.csv.zip
processing file NY20170502.csv.zip
processing file NY20180802.csv.zip
processing file NY20181201.csv.zip
processing file NY20151101.csv.zip
processing file NY20160502.csv.zip
processing file NY20230302.csv.zip
processing file NY20221103.csv.zip
processing file NY20200301.csv.zip
processing file NY20160701.csv.zip
processing file NY20200201.csv.zip
processing file NY20180903.csv.zip
processing file NY20230903.csv.zip
processing file NY20211202.csv.zip
processing file NY20161201.csv.zip
processing file NY20151202.csv.zip
processing file NY20200501.csv.zip
processing file NY20230701.csv.zip
processing file NY20170802.csv.zip
processing file NY20210302.csv.zip
processing file NY20201003.csv.zip
processing file NY20210201.csv.zip
processing file NY20191101.csv.zip
processing file NY20190101.csv.zip
processing file NY20150701.csv.zip
processing file NY20190501.csv.zip
processing file NY20170901.csv.zip
processing file NY20221203.csv.zip
processing file NY20220301.csv.zip
processing file NY20230401.csv.zip
processing file NY20150201.csv.zip
processing file NY20180502.csv.zip
processing file NY20221004.csv.zip
processing file NY20190801.csv.zip
processing file NY20170902.csv.zip
processing file NY20180103.csv.zip
processing file NY20230202.csv.zip
processing file NY20201202.csv.zip
processing file NY20220101.csv.zip
processing file NY20210701.csv.zip
processing file NY20211103.csv.zip
processing file NY20200402.csv.zip
processing file NY20161003.csv.zip
processing file NY20200303.csv.zip
processing file NY20230802.csv.zip
processing file NY20200803.csv.zip
processing file NY20171003.csv.zip
processing file NY20190403.csv.zip
processing file NY20230102.csv.zip
processing file NY20180101.csv.zip
processing file NY20220803.csv.zip
processing file NY20230704.csv.zip
processing file NY20190602.csv.zip
processing file NY20170103.csv.zip
processing file NY20160503.csv.zip
processing file NY20220304.csv.zip
processing file NY20190704.csv.zip
processing file NY20210802.csv.zip
processing file NY20170403.csv.zip
processing file NY20230601.csv.zip
processing file NY20150202.csv.zip
processing file NY20180803.csv.zip
processing file NY20230103.csv.zip
processing file NY20210504.csv.zip
processing file NY20191103.csv.zip
processing file NY20210202.csv.zip
processing file NY20210502.csv.zip
processing file NY20160602.csv.zip
processing file NY20191001.csv.zip
processing file NY20210803.csv.zip
processing file NY20220802.csv.zip
processing file NY20150301.csv.zip
processing file NY20190402.csv.zip
processing file NY20180202.csv.zip
processing file NY20220804.csv.zip
processing file NY20210702.csv.zip
processing file NY20151003.csv.zip
processing file NY20230403.csv.zip
processing file NY20210403.csv.zip
processing file NY20150303.csv.zip
processing file NY20170803.csv.zip
processing file NY20150101.csv.zip
processing file NY20210401.csv.zip
processing file NY20200702.csv.zip
processing file NY20160201.csv.zip
processing file NY20160302.csv.zip
processing file NY20211004.csv.zip
processing file NY20210303.csv.zip
processing file NY20200104.csv.zip
processing file NY20190702.csv.zip
processing file NY20190703.csv.zip
processing file NY20190203.csv.zip
processing file NY20211003.csv.zip
processing file NY20170801.csv.zip
processing file NY20211203.csv.zip
processing file NY20200704.csv.zip
processing file NY20170201.csv.zip
processing file NY20180201.csv.zip
processing file NY20210602.csv.zip
processing file NY20180703.csv.zip
processing file NY20200601.csv.zip
processing file NY20220303.csv.zip
processing file NY20221101.csv.zip
processing file NY20160902.csv.zip
processing file NY20170402.csv.zip
processing file NY20230902.csv.zip
processing file NY20190401.csv.zip
processing file NY20160402.csv.zip
processing file NY20220203.csv.zip
processing file NY20160401.csv.zip
processing file NY20150602.csv.zip
processing file NY20170701.csv.zip
processing file NY20220103.csv.zip
processing file NY20151203.csv.zip
processing file NY20160702.csv.zip
processing file NY20200703.csv.zip
processing file NY20161002.csv.zip
processing file NY20201203.csv.zip
processing file NY20150302.csv.zip
processing file NY20150601.csv.zip
processing file NY20200203.csv.zip
processing file NY20230801.csv.zip
processing file NY20171002.csv.zip
processing file NY20200602.csv.zip
processing file NY20171001.csv.zip
processing file NY20210402.csv.zip
processing file NY20230101.csv.zip
processing file NY20220504.csv.zip
processing file NY20160703.csv.zip
processing file NY20181003.csv.zip
processing file NY20221003.csv.zip
processing file NY20201004.csv.zip
processing file NY20220601.csv.zip
processing file NY20200401.csv.zip
processing file NY20180602.csv.zip
processing file NY20230804.csv.zip
processing file NY20230303.csv.zip
processing file NY20190302.csv.zip
processing file NY20210604.csv.zip
processing file NY20200101.csv.zip
processing file NY20201101.csv.zip
processing file NY20200403.csv.zip
processing file NY20171202.csv.zip
processing file NY20210503.csv.zip
processing file NY20211102.csv.zip
processing file NY20220501.csv.zip
processing file NY20150401.csv.zip
processing file NY20200903.csv.zip
processing file NY20210603.csv.zip
processing file NY20230602.csv.zip
processing file NY20201102.csv.zip
processing file NY20191102.csv.zip
processing file NY20160101.csv.zip
processing file NY20210304.csv.zip
processing file NY20210301.csv.zip
processing file NY20220801.csv.zip
processing file NY20211204.csv.zip
processing file NY20160202.csv.zip
processing file NY20171102.csv.zip
processing file NY20151002.csv.zip
processing file NY20151001.csv.zip
processing file NY20211201.csv.zip
processing file NY20210102.csv.zip
processing file NY20160303.csv.zip
processing file NY20190201.csv.zip
processing file NY20230901.csv.zip
processing file NY20180203.csv.zip
processing file NY20230504.csv.zip
processing file NY20161103.csv.zip
processing file NY20160903.csv.zip
processing file NY20200801.csv.zip
processing file NY20180702.csv.zip
processing file NY20221001.csv.zip
processing file NY20230803.csv.zip
processing file NY20170601.csv.zip
processing file NY20210404.csv.zip
processing file NY20220603.csv.zip
processing file NY20180603.csv.zip
processing file NY20210901.csv.zip
processing file NY20211002.csv.zip
processing file NY20200802.csv.zip
processing file NY20180403.csv.zip
processing file NY20201201.csv.zip
processing file NY20150802.csv.zip
processing file NY20150801.csv.zip
processing file NY20191201.csv.zip
processing file NY20210101.csv.zip
processing file NY20180901.csv.zip
processing file NY20221002.csv.zip
processing file NY20220102.csv.zip
processing file NY20160403.csv.zip
processing file NY20151103.csv.zip
processing file NY20220503.csv.zip
processing file NY20220202.csv.zip
processing file NY20171201.csv.zip
processing file NY20160802.csv.zip
processing file NY20200603.csv.zip
processing file NY20150603.csv.zip
processing file NY20191002.csv.zip
processing file NY20191203.csv.zip
processing file NY20171103.csv.zip
processing file NY20150502.csv.zip
processing file NY20170501.csv.zip
processing file NY20221102.csv.zip
processing file NY20170303.csv.zip
processing file NY20181101.csv.zip
processing file NY20180503.csv.zip
processing file NY20170102.csv.zip
processing file NY20181102.csv.zip
processing file NY20170603.csv.zip
processing file NY20220703.csv.zip
processing file NY20170602.csv.zip
processing file NY20150901.csv.zip
processing file NY20180501.csv.zip
processing file NY20190103.csv.zip
processing file NY20230702.csv.zip
processing file NY20171101.csv.zip
processing file NY20200503.csv.zip
processing file NY20220702.csv.zip
processing file NY20160102.csv.zip
processing file NY20200103.csv.zip
processing file NY20210501.csv.zip
processing file NY20220403.csv.zip
processing file NY20190102.csv.zip
processing file NY20230503.csv.zip
processing file NY20190603.csv.zip
processing file NY20170703.csv.zip
processing file NY20210203.csv.zip
processing file NY20150703.csv.zip
processing file NY20220104.csv.zip
processing file NY20211101.csv.zip
processing file NY20160601.csv.zip
processing file NY20200302.csv.zip
processing file NY20180302.csv.zip
processing file NY20180301.csv.zip
processing file NY20170503.csv.zip
processing file NY20210703.csv.zip
processing file NY20170401.csv.zip
processing file NY20190601.csv.zip
processing file NY20161202.csv.zip
processing file NY20170301.csv.zip
processing file NY20220604.csv.zip
processing file NY20230603.csv.zip
processing file NY20150501.csv.zip
processing file NY20191202.csv.zip
processing file NY20150702.csv.zip
processing file NY20180303.csv.zip
processing file NY20190303.csv.zip
processing file NY20230304.csv.zip
processing file NY20200102.csv.zip
processing file NY20210801.csv.zip
processing file NY20220901.csv.zip
processing file NY20190803.csv.zip
processing file NY20160901.csv.zip
processing file NY20190503.csv.zip
processing file NY20161102.csv.zip
processing file NY20180701.csv.zip
processing file NY20180402.csv.zip
processing file NY20180102.csv.zip
processing file NY20170202.csv.zip
processing file NY20190902.csv.zip
processing file NY20221201.csv.zip
processing file NY20150102.csv.zip
processing file NY20220704.csv.zip
processing file NY20200202.csv.zip
processing file NY20161203.csv.zip
processing file NY20160801.csv.zip
processing file NY20201002.csv.zip
processing file NY20210601.csv.zip
processing file NY20190903.csv.zip
processing file NY20210704.csv.zip
processing file NY20160803.csv.zip
processing file NY20160203.csv.zip
processing file NY20181001.csv.zip
processing file NY20210903.csv.zip
processing file NY20220302.csv.zip
processing file NY20171203.csv.zip
processing file NY20211104.csv.zip
processing file NY20181103.csv.zip
processing file NY20181002.csv.zip
processing file NY20230201.csv.zip
processing file NY20160301.csv.zip
processing file NY20150803.csv.zip
processing file NY20190802.csv.zip
processing file NY20190901.csv.zip
processing file NY20220401.csv.zip
processing file NY20230402.csv.zip
processing file NY20180601.csv.zip
processing file NY20170702.csv.zip
processing file NY20180801.csv.zip
processing file NY20220201.csv.zip
processing file NY20190502.csv.zip
processing file NY20170302.csv.zip
processing file NY20210904.csv.zip
processing file NY20150503.csv.zip
processing file NY20210804.csv.zip
processing file NY20160603.csv.zip
processing file NY20190202.csv.zip
processing file NY20191003.csv.zip
processing file NY20150903.csv.zip
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186223 entries, 0 to 186222
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               186223 non-null  int64
 1   Month              186223 non-null  int64
 2   VESSEL NAME        186223 non-null  object
 3   VOYAGE NUMBER      186223 non-null  object
 4   FOREIGN PORT       186223 non-null  object
 5   US PORT            186223 non-null  object
 6   NO. OF CONTAINERS  186223 non-null  int64
 7   MIN ARRIVAL DATE   186223 non-null  datetime64[ns]
 8   MAX ARRIVAL DATE   186223 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 12.8+ MB
processing file Phily202101.csv.zip
processing file Phily201802.csv.zip
processing file Phily202102.csv.zip
processing file Phily202301.csv.zip
processing file Phily202002.csv.zip
processing file Phily201702.csv.zip

In [52]:
def make_file(k):
    my_folder = f"{ig_folder}{k}"
    files = os.listdir(my_folder)
    frames = []
    for f in files:
        #print(f)
            my_file = my_folder + "/" + f
            print(f"processing file {f}")
            df = pd.read_csv(my_file, error_bad_lines=False, index_col=False )
            df = df[df['CONTAINER NUMBER'] != 'NC']
            df_copy = df[['VESSEL NAME','VOYAGE NUMBER','MASTER B/L', 'NO. OF CONTAINERS', 'FOREIGN PORT','US PORT', 'ARRIVAL DATE']]
            df_res = df_copy[df_copy['MASTER B/L']==' ']
            df_res['ARRIVAL DATE'] = pd.to_datetime(df['ARRIVAL DATE'])

            # Extract year and month into separate columns
            df_res['Year'] = df_res['ARRIVAL DATE'].dt.year
            df_res['Month'] = df_res['ARRIVAL DATE'].dt.month

            grouped_df = df_res.groupby(['Year', 'Month', 'VESSEL NAME','VOYAGE NUMBER', 'FOREIGN PORT', 'US PORT']).agg({'NO. OF CONTAINERS': 'sum', 'ARRIVAL DATE': ['min', 'max']})
            grouped_df.columns = ['_'.join(col).strip() for col in grouped_df.columns.values]
            grouped_df.reset_index(inplace=True)
            frames.append(grouped_df)
    resulted_df = pd.concat(frames, ignore_index=True)
    resulted_df.rename(columns={'NO. OF CONTAINERS_sum': 'NO. OF CONTAINERS', 'ARRIVAL DATE_min': 'MIN ARRIVAL DATE', 'ARRIVAL DATE_max': 'MAX ARRIVAL DATE'}, inplace=True)
    resulted_df.info()
    grouped_df = resulted_df.groupby(['Year', 'Month', 'VESSEL NAME','VOYAGE NUMBER', 'FOREIGN PORT', 'US PORT']).agg({'NO. OF CONTAINERS': 'sum', 'MIN ARRIVAL DATE': 'min', 'MAX ARRIVAL DATE': 'max'})
    grouped_df.reset_index(inplace=True)
    save_folder = f"/home/gridsan/{con.userName}/Coding/importGenius/"
    grouped_df.to_csv(f"{save_folder}{k}.csv")

In [54]:
grouped_df = resulted_df.groupby(['Year', 'Month', 'VESSEL NAME','VOYAGE NUMBER', 'FOREIGN PORT', 'US PORT']).agg({'NO. OF CONTAINERS': 'sum', 'MIN ARRIVAL DATE': 'min', 'MAX ARRIVAL DATE': 'max'})

#grouped_df.columns = ['_'.join(col).strip() for col in grouped_df.columns.values]
grouped_df.reset_index(inplace=True)

grouped_df

,Year,Month,VESSEL NAME,VOYAGE NUMBER,FOREIGN PORT,US PORT,NO. OF CONTAINERS,MIN ARRIVAL DATE,MAX ARRIVAL DATE
0,2015,1,AARGAU,EC225,Newport,"Philadelphia, Pennsylvania",36,2015-01-02,2015-01-02
1,2015,1,AEGEAN POWER,128,San Nicolas Bay,"Philadelphia, Pennsylvania",1,2015-01-17,2015-01-17
2,2015,1,AEGEAN POWER,128,San Nicolas Bay,"Wilmington, Delaware",1,2015-01-18,2015-01-18
3,2015,1,AFRA WILLOW,025,Pajaritos,"Chester, Pennsylvania",1,2015-01-05,2015-01-05
4,2015,1,AGNES RICKMERS,993E,Chiwan,"Charleston, South Carolina",4,2015-01-05,2015-01-05
...,...,...,...,...,...,...,...,...,...
637815,2023,12,ZIM TAMPA,17W,Kaohsiung,"Boston, Massachusetts",50,2023-12-08,2023-12-08
637816,2023,12,ZIM TAMPA,17W,Laem Chabang,"Boston, Massachusetts",8,2023-12-08,2023-12-08
637817,2023,12,ZIM TAMPA,17W,Port Swettenham,"Boston, Massachusetts",1,2023-12-08,2023-12-08
637818,2023,12,ZIM TAMPA,17W,Shanghai,"Boston, Massachusetts",3,2023-12-08,2023-12-08
637819,2023,12,ZIM TAMPA,17W,Yantian,"Boston, Massachusetts",81,2023-12-08,2023-12-08

In [6]:
df_copy = df[['VESSEL NAME','VOYAGE NUMBER','MASTER B/L', 'NO. OF CONTAINERS', 'FOREIGN PORT','US PORT', 'ARRIVAL DATE']]
df_res = df_copy[df_copy['MASTER B/L']==' ']
df_res['ARRIVAL DATE'] = pd.to_datetime(df['ARRIVAL DATE'])

# Extract year and month into separate columns
df_res['Year'] = df_res['ARRIVAL DATE'].dt.year
df_res['Month'] = df_res['ARRIVAL DATE'].dt.month

grouped_df = df_res.groupby(['Year', 'Month', 'VESSEL NAME','VOYAGE NUMBER', 'FOREIGN PORT', 'US PORT']).agg({'NO. OF CONTAINERS': 'sum', 'ARRIVAL DATE': ['min', 'max']})
grouped_df.columns = ['_'.join(col).strip() for col in grouped_df.columns.values]
grouped_df.reset_index(inplace=True)
grouped_df

,Year,Month,VESSEL NAME,VOYAGE NUMBER,FOREIGN PORT,US PORT,NO. OF CONTAINERS_sum,ARRIVAL DATE_min,ARRIVAL DATE_max
0,2022,1,ADRIA ACE,0105A,Veracruz,"Baltimore, Maryland",2,2022-01-10,2022-01-10
1,2022,1,AFRICAN QUEEN,01,Portocel,"Baltimore, Maryland",1,2022-01-21,2022-01-21
2,2022,1,AGIA SOFIA,01,Nueva Palmira,"Baltimore, Maryland",1,2022-01-20,2022-01-20
3,2022,1,AGIA SOFIA,01,Rosario,"Baltimore, Maryland",3,2022-01-20,2022-01-20
4,2022,1,ALGOMA INTEGRITY,22001,"Halifax, NS","Baltimore, Maryland",1,2022-01-14,2022-01-14
...,...,...,...,...,...,...,...,...,...
1262,2022,3,VANCOUVERBORG,002,"Quebec, QUE","Baltimore, Maryland",2,2022-03-11,2022-03-11
1263,2022,3,VOS STAR,03,Dunkirk,"Baltimore, Maryland",1,2022-03-17,2022-03-17
1264,2022,3,ZHONG AN XIN HUA YUAN,205E,Ningpo,"Baltimore, Maryland",141,2022-03-23,2022-03-23
1265,2022,3,ZHONG AN XIN HUA YUAN,205E,Vung Tau,"Baltimore, Maryland",102,2022-03-23,2022-03-23
1266,2022,3,ZHONG AN XIN HUA YUAN,205E,Yangshan,"Baltimore, Maryland",86,2022-03-23,2022-03-23

In [58]:
save_folder = f"/home/gridsan/{con.userName}/Coding/importGenius/"


files = os.listdir(save_folder)
frames = []
for f in files:
        my_file = save_folder + "/" + f
        if f.endswith("csv"):
            print(f"processing file {f}")
            df = pd.read_csv(my_file, error_bad_lines=False, index_col=False )
            frames.append(df)
resulted_df = pd.concat(frames, ignore_index=True)

processing file Baltimore.csv
processing file Charleston.csv
processing file smallPorts.csv
processing file NY.csv
processing file Portland.csv
processing file Chester.csv
processing file Boston.csv
processing file Wilmington.csv
processing file Norfolk.csv
processing file Savannah.csv
processing file Phily.csv

In [59]:
resulted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598384 entries, 0 to 598383
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         598384 non-null  int64
 1   Year               598384 non-null  int64
 2   Month              598384 non-null  int64
 3   VESSEL NAME        598384 non-null  object
 4   VOYAGE NUMBER      598384 non-null  object
 5   FOREIGN PORT       598384 non-null  object
 6   US PORT            598384 non-null  object
 7   NO. OF CONTAINERS  598384 non-null  int64
 8   MIN ARRIVAL DATE   598384 non-null  object
 9   MAX ARRIVAL DATE   598384 non-null  object
dtypes: int64(4), object(6)
memory usage: 45.7+ MB

In [5]:
resulted_df['US PORT'].unique()

array(['Baltimore, Maryland', 'Charleston, South Carolina',
       'Charleston, West Virginia', 'Portsmouth, New Hampshire',
       'Salem, Massachusetts', 'New Orleans, Louisiana',
       'New York/Newark Area, Newark, New Jersey',
       'New Haven, Connecticut', 'Oswego, New York', 'New York, New York',
       'Perth Amboy, New Jersey', 'Camden, New Jersey',
       'New London, Connecticut', 'Albany, New York',
       'New Bedford, Massachusetts', 'Newark, New Jersey',
       'Buffalo-Niagara Falls, New York', 'Rochester, New York',
       'Ogdensburg, New York', 'UPS, Newark, New Jersey',
       'New Orleans Cartage-Control, New Orleans, Louisiana',
       'Massena, New York', 'Portland, Oregon', 'Portland, Maine',
       'Chester, Pennsylvania', 'Boston, Massachusetts',
       'Wilmington, Delaware', 'Wilmington, North Carolina',
       'Norfolk, Virginia', 'Savannah, Georgia',
       'Philadelphia, Pennsylvania',
       'Philadelphia International Airport, Philadelphia, Pennsylvania'],
      dtype=object)

In [3]:
resulted_df[resulted_df['US PORT'].isin(['Baltimore, Maryland','Philadelphia, Pennsylvania','Charleston, South Carolina','Charleston, West Virginia','New York/Newark Area, Newark, New Jersey','New York, New York','Newark, New Jersey','Portland, Maine','Chester, Pennsylvania', 'Boston, Massachusetts',
       'Wilmington, Delaware', 'Wilmington, North Carolina',
       'Norfolk, Virginia', 'Savannah, Georgia'])]

,Unnamed: 0,Year,Month,VESSEL NAME,VOYAGE NUMBER,FOREIGN PORT,US PORT,NO. OF CONTAINERS,MIN ARRIVAL DATE,MAX ARRIVAL DATE
0,0,2015,1,AMBER ARROW,78,Abashiri,"Baltimore, Maryland",1,2015-01-29,2015-01-29
1,1,2015,1,AMBER ARROW,78,Toyohasi,"Baltimore, Maryland",1,2015-01-29,2015-01-29
2,2,2015,1,AMBER ARROW,78,Yokohama,"Baltimore, Maryland",16,2015-01-29,2015-01-29
3,3,2015,1,ARCTIC PRINCESS,14011,Hammerfest,"Baltimore, Maryland",1,2015-01-07,2015-01-07
4,4,2015,1,ASIAN EMPEROR,CA452,Bremerhaven,"Baltimore, Maryland",6,2015-01-12,2015-01-12
...,...,...,...,...,...,...,...,...,...,...
703588,32321,2023,9,TUBUL,018W,Rotterdam,"Philadelphia, Pennsylvania",92,2023-09-23,2023-09-23
703589,32322,2023,9,TUBUL,018W,Southhampton,"Philadelphia, Pennsylvania",10,2023-09-23,2023-09-23
703590,32323,2023,9,TUBUL,018W,Stade,"Philadelphia, Pennsylvania",278,2023-09-23,2023-09-23
703591,32324,2023,9,YPAPANTI,48,"High Seas,Gulf of Mexico","Philadelphia, Pennsylvania",1,2023-09-27,2023-09-27
703592,32325,2023,9,ZOUZOU N,108,Basrah,"Philadelphia, Pennsylvania",1,2023-09-18,2023-09-18

In [107]:
save_folder = f"/home/gridsan/{con.userName}/Coding/importGenius/"
resulted_df.to_csv(f"{save_folder}all_ports.csv")

In [85]:
save_folder = f"/home/gridsan/{con.userName}/Coding/importGenius/"
resulted_df = pd.read_csv(f"{save_folder}all_ports.csv")

In [60]:
resulted_df = resulted_df[resulted_df['US PORT'].isin(['Baltimore, Maryland','Philadelphia, Pennsylvania','Charleston, South Carolina','Charleston, West Virginia','New York/Newark Area, Newark, New Jersey','New York, New York','Newark, New Jersey','Portland, Maine','Chester, Pennsylvania', 'Boston, Massachusetts',
       'Wilmington, Delaware', 'Wilmington, North Carolina',
       'Norfolk, Virginia', 'Savannah, Georgia'])]

In [62]:
resulted_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 559632 entries, 0 to 598383
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         559632 non-null  int64
 1   Year               559632 non-null  int64
 2   Month              559632 non-null  int64
 3   VESSEL NAME        559632 non-null  object
 4   VOYAGE NUMBER      559632 non-null  object
 5   FOREIGN PORT       559632 non-null  object
 6   US PORT            559632 non-null  object
 7   NO. OF CONTAINERS  559632 non-null  int64
 8   MIN ARRIVAL DATE   559632 non-null  object
 9   MAX ARRIVAL DATE   559632 non-null  object
dtypes: int64(4), object(6)
memory usage: 47.0+ MB

In [63]:
ship_folder = f"/home/gridsan/{con.userName}/Modelling/Data/"
ships_my = pd.read_csv(f"{ship_folder}shipsIMOData.csv")
ships_cad = pd.read_csv(f"{ship_folder}ship_name_changes.csv")
ship_curr = pd.read_csv(f"{ship_folder}ships_grouped.csv")

In [25]:
ships_cad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2790 entries, 0 to 2789
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IMO           2790 non-null   int64
 1   Old Name      2630 non-null   object
 2   New Name      2790 non-null   object
 3   Date Changed  2790 non-null   object
dtypes: int64(1), object(3)
memory usage: 87.3+ KB

In [64]:
old_df = resulted_df[~resulted_df['VESSEL NAME'].str.upper().isin(ship_curr['Name'].str.upper())]

In [65]:
my = old_df[~old_df['VESSEL NAME'].str.upper().isin(ships_my['Name'].str.upper())]
cad1 = old_df[~old_df['VESSEL NAME'].str.upper().isin(ships_cad['Old Name'].str.upper())]
cad2 =old_df[~old_df['VESSEL NAME'].str.upper().isin(ships_cad['New Name'].str.upper())]

In [66]:
print(len( my['VESSEL NAME'].unique()))
print(len(cad1['VESSEL NAME'].unique()))
print(len(cad2['VESSEL NAME'].unique()))

1306
1258
1556

In [71]:
t = my['VESSEL NAME'].unique()
t2 = cad1['VESSEL NAME'].unique()

print( [item for item in t2 if item not in t])

['EVER DEVELOP', 'EVER DYNAMIC', 'MSC CHALLENGER', 'MSC PANAMA', 'EVER DECENT', 'EVER DIADEM', 'SEA LAND METEOR', 'EVER DIAMOND', 'AS VEGA', 'CLASSICA', 'MSC ALICE', 'MSC PAOLA', 'MSC VERONIQUE', 'EVER DELIGHT', 'MSC MYKONOS', 'MSC DHAHRAN', 'ITEA', 'RESOLVE', 'DUBLIN EXPRESS', 'MAERSK MISSOURI', 'MSC ERMINIA', 'MAERSK LIRQUEN', 'MAERSK GAIRLOCH', 'MSC FEDERICA', 'E.R. LOS ANGELES', 'MSC CORUNA', 'NAVARINO', 'CMA CGM JAMAICA', 'EVER DEVOTE', 'MAERSK CAROLINA', 'MSC LEANNE', 'MSC PILAR', 'NORTHERN DEXTERITY', 'OSAKA EXPRESS', 'SEA LAND EAGLE', 'SWAZILAND', 'APL ANTWERP', 'BEAR HUNTER', 'MOL EXPRESS', 'SEA LAND MERCURY', 'VENEZIA', 'ZIM BARCELONA', 'BONNIE', 'EVER DIVINE', 'DEIRA', 'HANJIN MALTA', 'HS MOZART', 'KYOTO EXPRESS', 'SEA-LAND LIGHTNING', 'HH EMILIA', 'HANJIN LOS ANGELES', 'MAERSK GEORGIA', 'BEIJING BRIDGE', 'MAERSK WISCONSIN', 'TOVE MAERSK', 'MARE ARCTICUM', 'COLOMBO EXPRESS', 'CONTI BASEL', 'AL ENDEAVOR', 'SEA-LAND CHARGER', 'SINGAPORE EXPRESS', 'DALLAS EXPRESS', 'UASC ZAMZAM', 'KOTA LUMAYAN', 'CMA CGM HOMERE', 'JUIST TRADER', 'CMA CGM MOZART', 'CMA CGM PELLEAS', 'E.R. LONDON', 'NEDLLOYD ADRIANA', 'MAERSK GARONNE', 'HANOVER EXPRESS', 'CMA CGM FIDELIO', 'MSC ALICANTE', 'YM WARRANTY', 'ROME EXPRESS', 'AKINADA BRIDGE', 'MISSISSAUGA EXPRESS', 'WAN HAI 315', 'MEDITERRANEAN EXPRESS', 'HANJIN MARSEILLES', 'HANJIN SAN DIEGO', 'JAZAN', 'MSC NATALIA', 'SABYA', 'YANTIAN EXPRESS', 'AL ABDALI', 'AL FARAHIDI', 'APL CORAL', 'APL PEARL', 'DALIAN EXPRESS', 'VEGA ZETA', 'ASIR', 'CONTI MADRID', 'FOWAIRET', 'TOKYO EXPRESS', 'CS DISCOVERY', 'CALISTO', 'NINGBO EXPRESS', 'SAKAKA', 'AENEAS', 'SPIRIT OF COLOMBO', 'AL MANAMAH', 'HH NIKOL C.', 'NORTHERN GRACE', 'COLUMBA', 'OOCL ITALY', 'OOCL KUALA LUMPUR', 'ALM DALLAS', 'SEASPAN EXCELLENCE', 'SEASPAN EXPEDITOR', 'BOX EMMA', 'SEASPAN EFFICIENCY', 'ROTHORN', 'AS FABIANA', 'E.R. KOBE', 'COSCO SHIPPING JASMINE', 'SANTA CRUZ', 'LUNA MAERSK', 'CONTSHIP LEO', 'TS SINGAPORE', 'BROOKLYN BRIDGE', 'INDEPENDENT SPIRIT', 'JPO CANOPUS', 'DOLE CALIFORNIA', 'DOLE ECUADOR', 'DOLE HONDURAS', 'BOSTON TRADER', 'K BREEZE', 'MAMITSA', 'CMA CGM ROSSINI', 'LILA LONDON', 'VELA', 'MELL SAYANG', 'MSC SOFIA CELESTE', 'KEA TRADER']

In [69]:
old_df[old_df['VESSEL NAME']=='AMBER ARROW']

,Unnamed: 0,Year,Month,VESSEL NAME,VOYAGE NUMBER,FOREIGN PORT,US PORT,NO. OF CONTAINERS,MIN ARRIVAL DATE,MAX ARRIVAL DATE
0,0,2015,1,AMBER ARROW,78,Yokohama,"Baltimore, Maryland",5,2015-01-29,2015-01-29
57812,29775,2017,6,AMBER ARROW,100,Bremerhaven,"Charleston, South Carolina",5,2017-06-30,2017-06-30
177571,56833,2017,6,AMBER ARROW,100,Bremerhaven,"New York/Newark Area, Newark, New Jersey",2,2017-06-28,2017-06-28

In [45]:
ig_folder = f"/home/gridsan/{con.userName}/flow_shared/data/importGenius/Import_"    
my_folder = f"{ig_folder}Baltimore"
files = os.listdir(my_folder)
frames = []
for f in files:
    my_file = my_folder + "/" + f
    print(f"processing file {f}")
    df = pd.read_csv(my_file, error_bad_lines=False, index_col=False )
    frames.append(df)
df_b = pd.concat(frames)
df_b[df_b['VESSEL NAME'] == 'AMBER ARROW'].head(1).T

processing file Baltimore202201.csv.zip
processing file Baltimore201702.csv.zip
processing file Baltimore201804.csv.zip
processing file Baltimore202002.csv.zip
processing file Baltimore201501.csv.zip
processing file Baltimore201502.csv.zip
processing file Baltimore202103.csv.zip
processing file Baltimore202001.csv.zip
processing file Baltimore201903.csv.zip
processing file Baltimore201601.csv.zip
processing file Baltimore202202.csv.zip
processing file Baltimore201703.csv.zip
processing file Baltimore202101.csv.zip
processing file Baltimore202003.csv.zip
processing file Baltimore201801.csv.zip
processing file Baltimore201901.csv.zip
processing file Baltimore202004.csv.zip
processing file Baltimore201503.csv.zip
processing file Baltimore202203.csv.zip
processing file Baltimore202301.csv.zip
processing file Baltimore201602.csv.zip
processing file Baltimore201803.csv.zip
processing file Baltimore201603.csv.zip
processing file Baltimore202104.csv.zip
processing file Baltimore202303.csv.zip
processing file Baltimore201802.csv.zip
processing file Baltimore202302.csv.zip
processing file Baltimore202102.csv.zip
processing file Baltimore201701.csv.zip
processing file Baltimore201902.csv.zip
processing file Baltimore202204.csv.zip
processing file Baltimore201904.csv.zip

,PRODUCT DESCRIPTION,CONSIGNEE,SHIPPER,ARRIVAL DATE,GROSS WEIGHT (LB),GROSS WEIGHT (KG),FOREIGN PORT,US PORT,VESSEL NAME,COUNTRY OF ORIGIN,...,IN-BOND ENTRY TYPE,CARRIER CODE,CARRIER NAME,CARRIER CITY,CARRIER STATE,CARRIER ZIP,CARRIER ADDRESS,NOTIFY PARTY,NOTIFY ADDRESS,PLACE OF RECEIPT
48282,MITSUBISHI PLASTIC INJECTION MOLDING MACHINE M...,MITSUBISHI LOGISTICS AMERICAN CORP.,-NOT AVAILABLE-,2015-01-29,389928,177240,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,-NOT AVAILABLE-,,XINSHA
48283,N W M3 L W H HS CODE -------------------------...,ICARS,"TOYAMA KAIGAI BOEKI CO.,LTD",2015-01-29,22990,10450,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,DAPEX INC.,1600 LOWER ROAD SUITE 6 LINDEN TEL +1(212)796-...,"YOKOHAMA, JAPAN"
48284,MITSUBISHI MOTORS CORPORATION MOTOR VEHICLES E...,"MITSUBISHI MOTORS NORTH AMERICA, IN",MITSUBISHI MOTORS CORPORATION,2015-01-29,91102,41410,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MITSUBISHI MOTORS NORTH AMERICA, IN",ATTN MS. CARMEN GUILLEN 6400 WEST KATELLA AVEN...,"LAEM CHABANG, THA"
48285,"314ELCR(2 UNITS),311FLRR(1 UNIT),312EL(1 UNIT)...",CATERPILLAR INC.,CATERPILLAR JAPAN LTD.,2015-01-29,126654,57570,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,1) EGL - EAGLE GLOBAL,"LOGISTICS 1717 BUSSE ROAD, ELK GROVE VILLAGE, ...","HIGASHIHARIMA, JA"
48286,MITSUBISHI MOTORS CORPORATION MOTOR VEHICLES E...,"MITSUBISHI MOTORS NORTH AMERICA, IN",MITSUBISHI MOTORS CORPORATION,2015-01-29,790361,359255,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MITSUBISHI MOTORS NORTH AMERICA, IN",ATTN MS. CARMEN GUILLEN 6400 WEST KATELLA AVEN...,"LAEM CHABANG, THA"
48287,MITSUBISHI MOTORS CORPORATION MOTOR VEHICLES E...,"MITSUBISHI MOTORS NORTH AMERICA, IN",MITSUBISHI MOTORS CORPORATION,2015-01-29,32582,14810,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MITSUBISHI MOTORS NORTH AMERICA, IN",ATTN MS. CARMEN GUILLEN 6400 WEST KATELLA AVEN...,"LAEM CHABANG, THA"
48288,MITSUBISHI MOTORS CORPORATION MOTOR VEHICLES E...,"MITSUBISHI MOTORS NORTH AMERICA, IN",MITSUBISHI MOTORS CORPORATION,2015-01-29,657723,298965,Toyohasi,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,1.MITSUBISHI MOTORS NORTH AMERICA,"6400 WEST KATELLA AVENUE CYPRESS, CA 90630-006...","GAMAGORI,JAPAN"
48289,MAZDA MOTOR VEHICLES INVOICE NO.FM101N 1412CNB...,"MAZDA MOTOR OF AMERICA, INC.",MAZDA MOTOR CORPORATION,2015-01-29,2288088,1040040,Abashiri,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MAZDA MOTOR OF AMERICA, INC.","7755 IRVINE CENTER DRIVE, IRVINE CALIFORNIA 92...","NAKANOSEKI,JAPAN"
48290,"TRUCK I V NO.SKC0-14-V0182 ,SKC0-14-V0183 REFN...",ISUZU MANUFACTURING SERVICES OF,ISUZU MOTORS LIMITED.,2015-01-29,13268,6031,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,HANKYU HANSHIN EXPRESS (USA) INC.,"(NEW YORK) 154-09, 146TH AVE, JAMAICA, NY 1143...","YOKOHAMA, JAPAN"
48291,DESCRIPTION OF GOODS NO OF PKGS KGS M3 D3K2LGP...,CATERPILLAR INC.,CATERPILLAR JAPAN LTD.,2015-01-29,55506,25230,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,1)CEVA LOGISTICS,"1717 BUSSE RD, ELK GROVE VILLAGE, IL 60007-561...","YOKOHAMA, JAPAN"
48292,DESCRIPTION OF GOODS NO OF PKGS KGS M3 D5K2 NE...,CATERPILLAR INC.,CATERPILLAR JAPAN LTD.,2015-01-29,58586,26630,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,62 - Transportation and Exportation,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,1)CEVA LOGISTICS,"1717 BUSSE RD, ELK GROVE VILLAGE, IL 60007-561...","YOKOHAMA, JAPAN"
48293,DESCRIPTION OF GOODS NO OF PKGS KGS M3 D4K2 XL...,CATERPILLAR INC.,CATERPILLAR JAPAN LTD.,2015-01-29,18458,8390,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,1)CEVA LOGISTICS,"1717 BUSSE RD, ELK GROVE VILLAGE, IL 60007-561...","YOKOHAMA, JAPAN"
48294,DESCRIPTION OF GOODS NO OF PKGS KGS M3 D4K2(LG...,CATERPILLAR INC.,CATERPILLAR JAPAN LTD.,2015-01-29,19228,8740,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,1)CEVA LOGISTICS,"1717 BUSSE RD, ELK GROVE VILLAGE, IL 60007-561...","YOKOHAMA, JAPAN"
48295,(5 UNITS MAFI) KLRU410014 CRTU4119256 CRTU413 ...,"KLINE AMERICA,INC.",KLINE (EMPTY SHPMT),2015-01-29,84700,38500,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"KLINE AMERICA,INC.","8730 STONY POINT PARKWAY, RICHMOND, VA 23235 R...",XINSHA
43450,"315FLCR(6 UNITS),313FL(2 UNITS),316FL(3 UNITS)...",CATERPILLAR INC.,CATERPILLAR JAPAN LLC,2017-10-30,390918,177690,Abashiri,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,1) EGL-EAGLE GLOBAL LOGISTICS C,"1717 BUSSE ROAD, ELK GROVE VILLAGE, IL 60007 U...","HIGASHIHARIMA, JA"
43451,MAZDA MOTOR VEHICLES INVOICE NO. HM101N1709CNB...,"MAZDA MOTOR OF AMERICA, INC.",MAZDA MOTOR CORPORATION,2017-10-30,4618856,2099480,Hiroshima,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MAZDA MOTOR OF AMERICA, INC.","200 SPECTRUM CENTER DRIVE, IRVINE CALIFORNIA 9...","HIROSHIMA, JAPAN"
43452,MAZDA MOTOR VEHICLES INVOICE NO.FM101N 1709CNB...,"MAZDA MOTOR OF AMERICA, INC.",MAZDA MOTOR CORPORATION,2017-10-30,280522,127510,Abashiri,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MAZDA MOTOR OF AMERICA, INC.","200 SPECTRUM CENTER DRIVE, IRVINE CALIFORNIA 9...","NAKANOSEKI,JAPAN"
43453,628 MAZDA MOTOR VEHICLES INVOICE NO.(628 UNITS...,"MAZDA MOTOR OF AMERICA ,INC.",MAZDA MOTOR CORPORATION,2017-10-30,1836824,834920,Lazaro Cardenas,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MAZDA MOTOR OF AMERICA, INC.","7755 IRVINE CENTER DRIVE, IRVINE, CALIFORNIA 9...","LAZARO CARDENAS,"
49584,MAZDA MOTOR VEHICLES INVOICE NO. HM101N1605CNB...,"MAZDA MOTOR OF AMERICA, INC.",MAZDA MOTOR CORPORATION,2016-06-25,6736444,3062020,Hiroshima,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MAZDA MOTOR OF AMERICA, INC.","7755 IRVINE CENTER DRIVE, IRVINE CALIFORNIA 92...","HIROSHIMA, JAPAN"
49585,MAZDA MOTOR VEHICLES INVOICE NO.FM101N1605CN B...,"MAZDA MOTOR OF AMERICA, INC.",MAZDA MOTOR CORPORATION,2016-06-25,90266,41030,Abashiri,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"MAZDA MOTOR OF AMERICA, INC.","7755 IRVINE CENTER DRIVE, IRVINE CALIFORNIA 92...","NAKANOSEKI ,JAPAN"
10761,FIAT 500C POP CABRIO,FCA FIAT CHRYSLER AUTO BRASIL LTDA,FCA INTERNATIONAL OPERATIONS LLC,2016-12-14,4796,2180,Veracruz,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,FCA FIAT CHRYSLER AUTO BRASIL LTDA,"ROD.BR 267,4500, PARTE A IGREJINHA JUIZ DE FOR...",VERACRUZ
10762,2017 CHEVROLET CAPTIVA SPORT FWD 4-CYLINDER HS...,GENERAL MOTORS URUGUAY S.A.,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,29744,13520,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,COOP.T.A.CORD. LTDA.,CUIT 30-55827320-4 ATTN. SR. EDUARDO A. FUSCO ...,ALTAMIRA
10763,2017 CHEVROLET CAPTIVA SPORT FWD 4-CYLINDER HS...,GENERAL MOTORS URUGUAY S.A.,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,74404,33820,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,COOP.T.A.CORD. LTDA.,CUIT 30-55827320-4 ATTN. SR. EDUARDO A. FUSCO ...,ALTAMIRA
10764,2017 CHEVROLET TRACKER LTZ HS 8703220000 FREIG...,GENERAL MOTORS DO BRASIL-RIO GRANDE,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,6116,2780,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DO BRASIL-RIO GRANDE,RODOVIA BR 290-KM 67 CNPJ 59.275.792 0096-10 G...,ALTAMIRA
10765,2017 CHEVROLET TRACKER LT HS 8703220000 FREIGH...,GENERAL MOTORS DO BRASIL-RIO GRANDE,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,112332,51060,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DO BRASIL-RIO GRANDE,RODOVIA BR 290-KM 67 CNPJ 59.275.792 0096-10 G...,ALTAMIRA
10766,2016 CHEVROLET TRACKER LTZ HS 8703230046,GENERAL MOTORS DE ARGENTINA SR,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,3038,1381,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DE ARGENTINA SR,"RUTA NACIONAL 9 KM 278,SANTA FE, ARGENTINA, S2...",ALTAMIRA
10767,2017 CHEVROLET TRACKER LTZ HS 8703230048,GENERAL MOTORS DE ARGENTINA SR,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,254371,115623,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DE ARGENTINA SR,"RUTA NACIONAL 9 KM 278,SANTA FE, ARGENTINA, S2...",ALTAMIRA
10768,2017 CHEVROLET TRACKER LTZ HS 8703220000 FREIG...,GENERAL MOTORS DO BRASIL-RIO GRANDE,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,1048894,476770,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DO BRASIL-RIO GRANDE,RODOVIA BR 290-KM 67 CNPJ 59.275.792 0096-10 G...,ALTAMIRA
10769,2016 CHEVROLET TRACKER LTZ HS 8703230046,GENERAL MOTORS DE ARGENTINA SR,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,3243,1474,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DE ARGENTINA SR,"RUTA NACIONAL 9 KM 278,SANTA FE, ARGENTINA, S2...",ALTAMIRA
10770,2017 CHEVROLET TRACKER LTZ HS 8703230048,GENERAL MOTORS DE ARGENTINA SR,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,203603,92547,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DE ARGENTINA SR,"RUTA NACIONAL 9 KM 278,SANTA FE, ARGENTINA, S2...",ALTAMIRA
10771,2017 CHEVROLET TRACKER LTZ HS 8703220000 FREIG...,GENERAL MOTORS DO BRASIL-RIO GRANDE,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,125378,56990,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DO BRASIL-RIO GRANDE,RODOVIA BR 290-KM 67 CNPJ 59.275.792 0096-10 G...,ALTAMIRA
10772,2017 CHEVROLET TRACKER LTZ HS 8703220000 FREIG...,GENERAL MOTORS DO BRASIL-RIO GRANDE,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,36696,16680,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DO BRASIL-RIO GRANDE,RODOVIA BR 290-KM 67 CNPJ 59.275.792 0096-10 G...,ALTAMIRA
10773,2017 CHEVROLET CAPTIVA SPORT FWD 4-CYLINDER HS...,GENERAL MOTORS DO BRASIL-RIO GRANDE,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-12-14,37686,17130,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GENERAL MOTORS DO BRASIL-RIO GRANDE,RODOVIA BR 290-KM 67 CNPJ 59.275.792 0096-10 G...,ALTAMIRA
26131,TELEHANDLER GENIE GTH 844 SERIAL NBR GTH0810-1...,EURO AUCTIONS USA LLC.,LOCAR GUINDASTES E TRANSPORTES,2016-11-20,284913,129506,Sao Paulo,"Baltimore, Maryland",AMBER ARROW,Brazil,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,NMT USA INC.,AS AGENTS FOR NMTC B.V. (NMT LINES) 4615 GULF ...,SANTOS
26132,"1 UNT MOBILE STAGE STEEL A ALUMINIUM, DIMENSIO...",-NOT AVAILABLE-,-NOT AVAILABLE-,2016-11-20,33495,15225,Sao Paulo,"Baltimore, Maryland",AMBER ARROW,Brazil,...,62 - Transportation and Exportation,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,-NOT AVAILABLE-,-NOT AVAILABLE-,SANTOS
26144,HIVAN MERCEDES-BENZ SPRINTER 519 CDI 3000 CM 1...,MERCEDES-BENZ USA LLC,MERCEDES BENZ ARGENTINA S.A.,2016-11-20,1008865,458575,Veracruz,"Baltimore, Maryland",AMBER ARROW,Mexico,...,61 - Immediate Transportation,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,DB SCHENKER INC.,"2431 AVIATION AVE., SUITE 709 NORTH CHARLESTON...",ZARATE
26145,HIVAN MERCEDES-BENZ SPRINTER 519 CDI 3000 CM 1...,MERCEDES-BENZ USA LLC,MERCEDES BENZ ARGENTINA S.A.,2016-11-20,684750,311250,Acevedo,"Baltimore, Maryland",AMBER ARROW,Argentina,...,61 - Immediate Transportation,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,DB SCHENKER INC.,"2431 AVIATION AVE., SUITE 709 NORTH CHARLESTON...",ZARATE
26146,HIVAN MERCEDES-BENZ SPRINTER 519 CDI 3000 CM 1...,MERCEDES-BENZ CANADA INC.,MERCEDES BENZ ARGENTINA S.A.,2016-11-20,9130,4150,Acevedo,"Baltimore, Maryland",AMBER ARROW,Argentina,...,62 - Transportation and Exportation,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,SCHENKER INC.,"2431 AVIATION AVENUE,SUITE 709 CHARLESTON, SC ...",ZARATE
26151,2017 GMC SIERRA 1 2 TON AWD SHORT B HS 8704310040,GENERAL MOTORS,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-11-20,399434,181561,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GMNA FINANCE - TAX STAFF,ANDREA RAUP TEL 313-665-3951 300 RENAISSANCE C...,ALTAMIRA
26152,2017 CHEVROLET CITY EXPRESS HS 8704310020,GENERAL MOTORS,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-11-20,123394,56088,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GMNA FINANCE - TAX STAFF,ANDREA RAUP TEL 313-665-3951 300 RENAISSANCE C...,ALTAMIRA
26153,2017 CHEVROLET SILVERADO 1 2 TON CR HS 8704310040,GENERAL MOTORS,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-11-20,1191652,541660,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GMNA FINANCE - TAX STAFF,ANDREA RAUP TEL 313-665-3951 300 RENAISSANCE C...,ALTAMIRA
63324,AGRICULTURAL SPARE PARTS CONTAIN: 01 CRATE WOO...,JOHN DEERE PDC C/O XPAC,JOHN DEERE BRASIL LTDA,2016-09-20,2189,995,Sao Paulo,"Baltimore, Maryland",AMBER ARROW,Brazil,...,,PNEP,PANTAINER EXPRESS LINE PANALPINA INC AS AGENTS,TORRANCE,CA,90502,19900 VERMONT AVE STE A,,,SANTOS
66207,"-TRACTOR MAT 583K SIDE BOOM,NR.6205,SERIE 77V4...",EQUIPMENT LOURD SL INC (BP68016),GMF COMERCIO E IMPORT E EXPORT-,2016-09-18,281600,128000,Sao Paulo,"Baltimore, Maryland",AMBER ARROW,Brazil,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,EQUIPMENT LOURD SL INC (BP68016),BOUL LOBELLE BLAINVILLE QUEBEC CANADA 57C-4Z4-...,SANTOS
66208,RORO SHIPMENT 01 CRATE WOODEN PACKAGE TREATED ...,"PANALPINA,INC.-BUSINESS SERVICE",PANALPINA LTDA,2016-09-18,2189,995,Sao Paulo,"Baltimore, Maryland",AMBER ARROW,Brazil,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,PANALPINA INC.AS AGENT FOR AND ON,BEHALF OF PANTAINER (HK)LIMITED. 800 E. DEVON ...,SANTOS
66210,15 VOLUMES BEING TELEHANDLER - USED MODEL SKYT...,PFEIFER HEAVY MACHINERY B.V.,LOCAR GUINDASTES E TRANSPORTES,2016-09-18,430135,195516,Suape,"Baltimore, Maryland",AMBER ARROW,Brazil,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,PFEIFER HEAVY MACHINERY B.V.,"DOEN SLIEM 79 7141 JG, GROENLO THE NETHERLANDS",SUAPE
66211,MANUFACTURE YEAR 2010 TAG LOCAR 74 05 11 SERIA...,NMT USA INC.,AURUM FREIGHT INTERNATIONAL LTDA,2016-09-18,430135,195516,Suape,"Baltimore, Maryland",AMBER ARROW,Brazil,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,NMT USA INC.,AS AGENTS FOR NMTC B.V. (NMT LINES) 4615 GULF ...,SUAPE
66276,2017 CHEVROLET SILVERADO 1 2 TON CR HS 8704310040,GENERAL MOTORS,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-09-18,1247862,567210,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GMNA FINANCE - TAX STAFF,ANDREA RAUP TEL 313-665-3951 300 RENAISSANCE C...,ALTAMIRA
66277,2017 GMC SIERRA 1 2 TON AWD SHORT B HS 8704310040,GENERAL MOTORS,GENERAL MOTORS OVERSEAS DISTRIBUTIO,2016-09-18,681190,309632,Tampico,"Baltimore, Maryland",AMBER ARROW,Mexico,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,GMNA FINANCE - TAX STAFF,ANDREA RAUP TEL 313-665-3951 300 RENAISSANCE C...,ALTAMIRA
66282,HIVAN MERCEDES-BENZ SPRINTER 519 CDI 3000 CM 1...,COACHMEN RV,MERCEDES BENZ ARGENTINA S.A.,2016-09-18,4565,2075,Acevedo,"Baltimore, Maryland",AMBER ARROW,Argentina,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,MERCEDES-BENZ CANADA INC.,"98 VANDERHOOF AVE. TORONTO, ONTARIO M4G 4C9 CA...",ZARATE
66283,HIVAN MERCEDES-BENZ SPRINTER 519 CDI 3000 CM 1...,MERCEDES-BENZ CANADA INC.,MERCEDES BENZ ARGENTINA S.A.,2016-09-18,27390,12450,Acevedo,"Baltimore, Maryland",AMBER ARROW,Argentina,...,62 - Transportation and Exportation,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,SCHENKER INC.,"2431 AVIATION AVENUE, SUITE 709 CHARLESTON, SC...",ZARATE

In [50]:
df_b[(df_b['VESSEL NAME'] == 'AMBER ARROW') & (df_b['CONTAINER NUMBER'] != 'NC')]

,PRODUCT DESCRIPTION,CONSIGNEE,SHIPPER,ARRIVAL DATE,GROSS WEIGHT (LB),GROSS WEIGHT (KG),FOREIGN PORT,US PORT,VESSEL NAME,COUNTRY OF ORIGIN,...,IN-BOND ENTRY TYPE,CARRIER CODE,CARRIER NAME,CARRIER CITY,CARRIER STATE,CARRIER ZIP,CARRIER ADDRESS,NOTIFY PARTY,NOTIFY ADDRESS,PLACE OF RECEIPT
48295,(5 UNITS MAFI) KLRU410014 CRTU4119256 CRTU413 ...,"KLINE AMERICA,INC.",KLINE (EMPTY SHPMT),2015-01-29,84700,38500,Yokohama,"Baltimore, Maryland",AMBER ARROW,Japan,...,,KKLU,KAWASAKI KISEN KAISHA LTD,TOKYO,,,,"KLINE AMERICA,INC.","8730 STONY POINT PARKWAY, RICHMOND, VA 23235 R...",XINSHA

In [72]:
ship_curr.info()
ships_my.info()
ships_cad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2521 entries, 0 to 2520
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0.1      2521 non-null   int64
 1   Unnamed: 0        2521 non-null   int64
 2   Call Sign         2521 non-null   object
 3   Cargo Type        2521 non-null   object
 4   IMO Number        2521 non-null   int64
 5   MMSI              2521 non-null   int64
 6   Name              2521 non-null   object
 7   Operator          2521 non-null   object
 8   Grouped           2521 non-null   object
 9   Registered Owner  2521 non-null   object
 10  Ship Type         645 non-null    object
 11  Vessel Type       2521 non-null   object
 12  Length            2521 non-null   float64
 13  Width             2521 non-null   float64
 14  size_group        2521 non-null   int64
dtypes: float64(2), int64(5), object(8)
memory usage: 295.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4224 entries, 0 to 4223
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4224 non-null   object
 1   MMSI        4224 non-null   int64
 2   IMO         4224 non-null   object
 3   date        4219 non-null   object
 4   Name        4224 non-null   object
 5   Operator    1896 non-null   object
 6   identify    1 non-null      float64
 7   Unnamed: 7  1 non-null      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 264.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2790 entries, 0 to 2789
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IMO           2790 non-null   int64
 1   Old Name      2630 non-null   object
 2   New Name      2790 non-null   object
 3   Date Changed  2790 non-null   object
dtypes: int64(1), object(3)
memory usage: 87.3+ KB

In [87]:
resulted_df['VESSEL NAME'] = resulted_df['VESSEL NAME'].str.upper()
ship_curr['Name'] = ship_curr['Name'].str.upper()
ships_my['Name'] = ships_my['Name'].str.upper()
ships_cad['Old Name'] = ships_cad['Old Name'].str.upper()
ships_cad['IMO_CAD'] = ships_cad['IMO']
resulted_df = resulted_df.merge(ship_curr[['Name','IMO Number']], left_on='VESSEL NAME', right_on='Name', how='left')
resulted_df = resulted_df.merge(ships_my[['Name','IMO']], left_on='VESSEL NAME', right_on='Name', how='left')
resulted_df = resulted_df.merge(ships_cad[['Old Name','IMO_CAD']], left_on='VESSEL NAME', right_on='Old Name', how='left')

resulted_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 814286 entries, 0 to 814285
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0.1       814286 non-null  int64
 1   Unnamed: 0         814286 non-null  int64
 2   Year               814286 non-null  int64
 3   Month              814286 non-null  int64
 4   VESSEL NAME        814286 non-null  object
 5   VOYAGE NUMBER      814286 non-null  object
 6   FOREIGN PORT       814286 non-null  object
 7   US PORT            814286 non-null  object
 8   NO. OF CONTAINERS  814286 non-null  int64
 9   MIN ARRIVAL DATE   814286 non-null  object
 10  MAX ARRIVAL DATE   814286 non-null  object
 11  Name_x             515998 non-null  object
 12  IMO Number         515998 non-null  float64
 13  Name_y             605330 non-null  object
 14  IMO                605330 non-null  object
 15  Old Name           264239 non-null  object
 16  IMO_CAD            264239 non-null  float64
dtypes: float64(2), int64(5), object(10)
memory usage: 111.8+ MB

In [90]:
resulted_df['IMO orig'] = 'IMO' + resulted_df['IMO Number'].dropna().astype(int).astype(str)
resulted_df['IMO orig2'] = 'IMO' + resulted_df['IMO_CAD'].dropna().astype(int).astype(str)

# Convert to string, adding 'XX' prefix, leaving NaN as 'NA'
#df['string_field'] = 'XX' + df['int_field'].astype(str)

#resulted_df['IMO Number'] = 'IMO' + resulted_df['int_field'].astype(int).astype(str)
#resulted_df['IMO Number'] .replace('IMOnan', 'NA')
#rt = resulted_df[resulted_df['IMO orig'].notna() & resulted_df['IMO'].notna() & (resulted_df['IMO orig'] != resulted_df['IMO'])]

In [91]:
res1 = resulted_df[resulted_df['IMO orig'].notna() & resulted_df['IMO'].notna() & (resulted_df['IMO orig'] != resulted_df['IMO'])]
res2 = resulted_df[resulted_df['IMO orig2'].notna() & resulted_df['IMO'].notna() & (resulted_df['IMO orig2'] != resulted_df['IMO'])]
res3 = resulted_df[resulted_df['IMO orig'].notna() & resulted_df['IMO orig2'].notna() & (resulted_df['IMO orig'] != resulted_df['IMO orig2'])]

In [97]:
print(len(res1))
print(len(res2))
print(len(res3))

7805
8251
7873

In [104]:
res1[['IMO orig','IMO','VESSEL NAME']].drop_duplicates()

          IMO orig         IMO         VESSEL NAME
152     IMO9411379  IMO9289063        MAERSK VARNA
9708    IMO9362401  IMO9470727  MAERSK WILLEMSTADT
24961   IMO9398216  IMO8408832         MSC ANTONIA
26645   IMO9718935  IMO9252981          CCNI ANDES
35408   IMO9302085  IMO9148025         MSC ANAHITA
38108   IMO9218650  IMO9288904           ZIM HAIFA
38121   IMO9250971  IMO9282974        ZIM SAVANNAH
38855   IMO9327798  IMO9398395     MSC LOS ANGELES
39441   IMO9398228  IMO8419702             MSC NOA
40437   IMO9785445  IMO8618308          MSC CAROLE
40596   IMO9036002  IMO7416856          MSC SHAULA
40631   IMO9365829  IMO9126924   MUKADDES KALKAVAN
67596   IMO9348687  IMO9450375     SEATTLE EXPRESS
83119   IMO9622617  IMO9214226         OOCL FRANCE
84705   IMO9951147  IMO9408853           ADAMASTOS
154490  IMO9461506  IMO9243590      ZIM CHARLESTON
160743  IMO9305570  IMO9231822        ZIM SHANGHAI
164722  IMO9461893  IMO9383235         APL QINGDAO
176779  IMO9827334  IMO8901406            OLEANDER
217329  IMO9477335  IMO9550345                 JAN
250991  IMO9435246  IMO9477347           POLYNESIA
303103  IMO9430064  IMO9121869              REGULA
388426  IMO9433456  IMO8914556             SELFOSS
558506  IMO9366225  IMO9339595             ARTEMIS

In [105]:
res2[['IMO orig2','IMO','VESSEL NAME']].drop_duplicates()

         IMO orig2         IMO             VESSEL NAME
336     IMO9346005  IMO9243239         CCNI VALPARAISO
1951    IMO9293179  IMO8709640             MSC MIRELLA
9525    IMO9309411  IMO9399753    CMA CGM POINTE MARIN
9710    IMO9470727  IMO9362401      MAERSK WILLEMSTADT
24961   IMO9398216  IMO8408832             MSC ANTONIA
31442   IMO9286243  IMO9318058               MSC TEXAS
34526   IMO9701279  IMO9700251            QUEEN ESTHER
35409   IMO9148025  IMO9302085             MSC ANAHITA
38855   IMO9345958  IMO9398395         MSC LOS ANGELES
39441   IMO9398228  IMO8419702                 MSC NOA
40631   IMO9365829  IMO9126924       MUKADDES KALKAVAN
43827   IMO9280861  IMO9139488                   PUSAN
47197   IMO9440825  IMO9456989            CAP HATTERAS
67594   IMO9450375  IMO9348687         SEATTLE EXPRESS
86270   IMO9728253  IMO9408841             ARISTOMENIS
160742  IMO9231822  IMO9305570            ZIM SHANGHAI
161496  IMO9254848  IMO9337030               TS MUMBAI
176780  IMO8901406  IMO9827334                OLEANDER
250991  IMO9519327  IMO9477347               POLYNESIA
250992  IMO9516753  IMO9477347               POLYNESIA
285825  IMO9399791  IMO9399777  CMA CGM POINTE CARAIBE
285826  IMO9294173  IMO9399777  CMA CGM POINTE CARAIBE
285831  IMO9294173  IMO9399791  CMA CGM POINTE CARAIBE
285833  IMO9399777  IMO9399791  CMA CGM POINTE CARAIBE
388424  IMO8914556  IMO9433456                 SELFOSS
388427  IMO9433456  IMO8914556                 SELFOSS
390765  IMO9336189  IMO9306067     INDEPENDENT PURSUIT

In [106]:
res3[['IMO orig2','IMO orig','VESSEL NAME']].drop_duplicates()

         IMO orig2    IMO orig         VESSEL NAME
9708    IMO9470727  IMO9362401  MAERSK WILLEMSTADT
31442   IMO9286243  IMO9318058           MSC TEXAS
35408   IMO9148025  IMO9302085         MSC ANAHITA
36349   IMO9134593  IMO9728942              TAURUS
37638   IMO9471226  IMO9677026         ZIM ALABAMA
38855   IMO9345958  IMO9327798     MSC LOS ANGELES
38856   IMO9398395  IMO9327798     MSC LOS ANGELES
41269   IMO9330989  IMO9322463      CMA CGM MARLIN
67594   IMO9450375  IMO9348687     SEATTLE EXPRESS
84705   IMO9408853  IMO9951147           ADAMASTOS
86270   IMO9728253  IMO9408841         ARISTOMENIS
160742  IMO9231822  IMO9305570        ZIM SHANGHAI
160775  IMO9318151  IMO9710232          ZIM XIAMEN
176779  IMO8901406  IMO9827334            OLEANDER
177687  IMO9687552  IMO9687564           CORCOVADO
177688  IMO9241463  IMO9687564           CORCOVADO
250991  IMO9519327  IMO9435246           POLYNESIA
250992  IMO9516753  IMO9435246           POLYNESIA
250994  IMO9477347  IMO9435246           POLYNESIA
365412  IMO9139921  IMO9389382           ZIM CHINA
388424  IMO8914556  IMO9433456             SELFOSS
558506  IMO9339595  IMO9366225             ARTEMIS